<div >
  <section class="content-header">
    <h1>
      All Order
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">All Order</li>
    </ol>
  </section>
  <!-- /.box-header -->
  <div class="box-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
      <tr >
        <th>Customer Name</th>
        <th>Item Name</th>
        <th>Order Date</th>
        <th>Qty</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of orderArray">
        <td>{{data.customerName}}</td>
        <td>{{data.itemName}}</td>
        <td>{{data.date | date: 'mediumDate'}}</td>
        <td>{{data.qty}}</td>
      </tr>

      </tbody>

    </table>
  </div>
  <!-- /.box-body -->
</div>
