
<div >
  <section class="content-header">
    <h1>
      Manage Supplier
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Manage Supplier</li>
    </ol>
  </section>
  <div class="box-header with-border">
    <h3 class="box-title"></h3>
  </div>
  <div class="box-body">
    <form class="login-form" #frm="ngForm" (ngSubmit)="save()">
      <div class="row">
        <div class="col-xs-6">
          <label>Name</label>
          <input type="text" class="form-control" placeholder="name" [(ngModel)]="supplier.name" name="name">
        </div>
        <div class="col-xs-6">
          <label>Company Name</label>
          <input type="text" class="form-control" placeholder="company name" [(ngModel)]="supplier.company" name="company">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-6">
          <label>Address</label>
          <input type="text" class="form-control" placeholder="address" [(ngModel)]="supplier.address" name="address">
        </div>
        <div class="col-xs-3">
          <label>Telephone No</label>
          <input type="text" class="form-control" placeholder="telephone no" [(ngModel)]="supplier.telNo" name="telNo">
        </div>
        <div class="col-xs-3">
          <label>Email</label>
          <input type="text" class="form-control" placeholder="Email" [(ngModel)]="supplier.email" name="email">
        </div>
      </div>
    </form>
  </div>
</div>
<br><br>
<div >
  <button type="button" class="btn btn-default" style="margin-left: 5px;width: 100px">Cancel</button>
  <button type="button" class="btn btn-info pull-right" style="margin-right: 5px;width: 100px" (click)="save()">Save</button>
</div>
